jupyter
torch
diffusers
transformers
sentencepiece
protobuf
python-dotenv
matplotlib
Pillow
requests
langchain
langchain_aws
langchain_openai
langchain_community
ipywidgets
sacremoses
soundfile
Pillow
matplotlib
tensorflow-hub
deepface